@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto:wght@400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100%;
  background-color: #f6f7fb
}

.global__container {
  height: 100%;
  padding: 2em 6.25em 1.25em;
}

header {
  height: 2em;
  margin-bottom: 2em;
}

.title {
  margin: 0;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.title > span {
  font-weight: 300;
}

.main {
  display: grid;
  grid-template-columns: min(20vw,23.3125rem) 1fr;
  grid-template-rows: 8.75em 1fr;
  gap: 2.75rem 2rem;
  height: min(calc(100vh - 8.5em), 100%)
}

footer {
  height: 1.25em;
  text-align: center;
}

footer > a {
  color: purple;
  font-weight: bold;
  text-decoration: underline wavy darkgoldenrod;
}

footer > a:hover {
  color: lightpink;
}

@media screen and (max-width: 850px) {
  .global__container {
    padding: 2rem 3.125rem 1.25rem;
  }
}

@media screen and (max-width: 740px) {
  .global__container {
    padding: 1rem .75rem 1.5rem;
  }
  .main {
    grid-template-columns: 1fr;
    gap: 1.5625rem 0;
  }
}
