html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.global__container {
  height: 100%;
  padding: 2em 6.25em 1.25em;
}

header {
  height: 2em;
  margin-bottom: 2em;
}

.title {
  margin: 0;
}

.main {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: .5fr 1fr;
  height: min(calc(100vh - 8.5em), 100%)
}

footer {
  height: 1.25em;
  text-align: center;
}

footer > a {
  color: purple;
  font-weight: bold;
  text-decoration: underline wavy darkgoldenrod;
}

footer > a:hover {
  color: lightpink;
}
