.job {
  width: 100%;
  display: flex;
  padding: .75rem;
  /* height: 7.125rem; */
  margin-bottom: 2rem;
  border-radius: .25rem;
  background-color: white;
}

.img__container {
  width: 20%;
  margin: auto;
}

.job__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: .25rem;
}

.job__info {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.job__company {
  margin: 0;
  font-size: .75rem;
  font-weight: bold;
  color: hsla(225, 43%, 35%, 1);
}

.job__title {
  font-size: 1.125rem;
  font-weight: normal;
  margin: .4444em 0 1em;
  color: hsla(225, 43%, 35%, 1);
}

.job__related {
  display: flex;
  justify-content: space-between;
}

.job__type {
  font-size: 12px;
  font-weight: bold;
  margin-right: .5rem;
  min-width: 4.2188rem;
  border-radius: .25rem;
  display: inline-block;
  padding: .5em .6667em;
  border: 1px solid #334680;
  color: hsla(225, 43%, 35%, 1);
}

.job__related > div {
  color: #B7BCCE;
  font-size: .75rem;
  align-self: center;
}

.job__location {
  margin-right: 2.5em;
}

.job__date, .job__location {
  font-weight: 500;
}